html {
    height: 100%;
    background-color: #2f3136;
}
table {
    width: 80%;
    margin: 20px auto 50px;
    color: #fff;
}
table th, table td {
    border: 1px solid #fff;
}
.addBtn {
    width: 80%;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    margin: -50px auto 0px;
    height: 40px;
    box-sizing: border-box;
    font-size: 30px;
    cursor: pointer;
    background-color: #2f3136;
    position: absolute;
    left: 50%;
    transform: translate( -50%, 0%);
}
.t1 thead th {
    background-color: #404249;
}
.t1 thead th, .t2 thead th {
    padding: 10px;
}
.t1 tbody tr td {
    height: 50px;
    width: 33%;
}
.t1 tbody tr td label {
    width: 100%;
    height: 50px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.t1 tbody tr td label::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    width: 25px;
    height: 25px;
    background-color: #fff;
}
.t1 tbody tr td input:checked + label::before {
    background-color: #00b84c;
}
.t1 tbody tr td input:checked + label::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #fff;
    left: 50%;
    top: 45%;
    transform: translate( -50%, -50%) rotate(45deg);
}
.t1 tbody tr td input[type="checkbox"] {
    appearance: none;
    display: none;;
}
.t2 thead th {
    font-size: 14px;
    vertical-align: middle;
}
.t2 tbody tr td.high {
    background-color: #795e52;
}
.t2 tbody tr td label {
    width: 100%;
    height: 35px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.t2 tbody tr td label::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
}
.t2 tbody tr td input:checked + label::before {
    background-color: #00b84c;
}
.t2 tbody tr td input:checked + label::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 6px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #fff;
    left: 50%;
    top: 45%;
    transform: translate( -50%, -50%) rotate(45deg);
}
.t2 tbody tr td input[type="checkbox"] {
    appearance: none;
    display: none;;
}
.t2 tbody tr td:first-child {
    vertical-align: middle;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 140px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}
.t2 tbody tr td:last-child {
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
.t2 tbody tr td:first-child:hover {
    color: #9099ff;
}

.timeTable {
    text-align: center;
}
.timeTable thead {
    height: 35px;
    background-color: #404249;
    line-height: 35px;
}
.timeTable tbody tr {
    height: 30px;
    line-height: 30px;
}

.toolbar {
    width: 80%;
    margin: 0px auto;
}